Data/
Methods/__pycache__/
__pycache__/
implementation.pyc
Figures/Separated/CA/CA_Vb.xcf
Figures/Separated/CA/CA_text_Vb.xcf
Figures/Separated/CA/CA_text_Vb_F1_to_F5_all.pdf
Figures/Separated/CA/Cmap_Assoc.xcf
Figures/Separated/CA/Cmap_text.xcf
Figures/Separated/Contingency_text_Vb.pdf
Figures/Separated/Data_text_Vb.pdf
Figures/Separated/MCMCA/
